[init]
    templatedir = /home/markw/.git-template-dir
[core]
	excludesfile = /home/markw/.gitignore_global
[user]
	name = Mark Watts
	email = watts.mark2015@gmail.com
	signingkey = AB5093FD
[merge]
    tool = vimdiff
[color]
	ui = auto
[push]
	default = simple
[alias]
    co = checkout
    logl = log --branches --exclude="archive/*" --tags --remotes --decorate=short  --graph
    archive = git tag archive
	scommit = commit -S

[url "git@github.com:openworm/"]
    insteadOf = ow://

[url "git@github.com:mwatts15/"]
    insteadOf = mwatts15://

[url "git@github.com:"]
    insteadOf = github://

[url "git@github.com:"]
    insteadOf = gh://

[url "git@github.com:scidash/"]
    insteadOf = scidash://

[include]
    path = ~/.gitconfig.local

[rerere]
    enabled = true
